{{>partial_header}}
package {{packageName}}

import (
    "net/http"
)

// APIClient manages communication with the {{appName}} API v{{version}}
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	cfg    *Configuration

	// API Services
{{#apiInfo}}
{{#apis}}
{{#operations}}

	{{classname}} {{classname}}ServiceInterface
{{/operations}}
{{/apis}}
{{/apiInfo}}
}

// NewAPIClient creates a new API client. Requires a userAgent string describing your application.
// optionally a custom http.Client to allow for advanced features such as caching.
func NewAPIClient(cfg *Configuration) *APIClient {
	if cfg.HTTPClient == nil {
		cfg.HTTPClient = http.DefaultClient
	}

	c := &APIClient{}
	c.cfg = cfg

{{#apiInfo}}
	// API Services
{{#apis}}
{{#operations}}
	c.{{classname}} = &{{classname}}Service{cfg: cfg}
{{/operations}}
{{/apis}}
{{/apiInfo}}

	return c
}
