name: Functional tests

on:
  pull_request_target:
    branches:
      - "*"
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"

jobs:
  tests:
    name: Functional tests (GO ${{ matrix.go-version }})
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        go-version: [1.20, 1.21, 1.22]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - run: go version
      - name: Run functional tests
        run: cd example && go run getVisits.go && go run getEvent.go
        env:
          FINGERPRINT_API_KEY: ${{ secrets.FINGERPRINT_API_KEY }}
          VISITOR_ID: ${{ secrets.VISITOR_ID }}
          REQUEST_ID: ${{ secrets.REQUEST_ID }}

  report-status:
    needs: tests
    if: always()
    uses: fingerprintjs/dx-team-toolkit/.github/workflows/report-workflow-status.yml@v1
    with:
      notification_title: 'GO SDK Tests has {status_message}'
      job_status: ${{ needs.tests.result }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

