name: Functional tests

on:
  pull_request:
    branches:
      - "*"
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"

jobs:
  tests:
    name: Functional tests (GO ${{ matrix.go-version }})
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        go-version: [1.17, 1.18, 1.19]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - run: go version
      - name: Run functional tests
        run: cd example && go run visits/getVisits.go && go run events/getEvent.go
        env:
          FINGERPRINT_API_KEY: ${{ secrets.FINGERPRINT_API_KEY }}
          VISITOR_ID: ${{ secrets.VISITOR_ID }}
          REQUEST_ID: ${{ secrets.REQUEST_ID }}
      - name: Report Status
        if: always()
        uses: ravsamhq/notify-slack-action@0d9c6ff1de9903da88d24c0564f6e83cb28faca9
        with:
          status: ${{ job.status }}
          notification_title: "Go ${{ matrix.go-version }} SDK Functional Test has {status_message}"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
