name: 'Release'
on:
  push:
    branches:
      - test
      - main

jobs:
  release:
    name: 'Publish new version'
    uses: fingerprintjs/dx-team-toolkit/.github/workflows/release-server-sdk.yml@v1
    with:
      language: golang
      language-version: '1.20'
      appId: ${{ vars.APP_ID }}
      prepare-command: |
        go build
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
